
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner section part start here */

.banner_container{
    max-width: 1320px;
    height:600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    
}
.banner_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
   
}

.banner_content p{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;

}
.banner_container h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}
/* banner part end here */

/* 65% section part start here */

.sixty_five_container{
    width: 802px;
    height: 800px;
    margin: 0 auto;
    margin-top: 90px;
}
.sixty_five_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.sixty_five_content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
    
}
.sixty_five_content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
    
}
.sixty_five_content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    
}

.sixty_img_container{
    width: 802px;
    height: 500px;

}
.sixty_img_container img{
    width: 100%;
    height: 100%;

}

/* midnight_container part star here */

.midnight_container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 120px;
    background-blend-mode: overlay;
}
.midnight_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left:126px ;
    height: 600px;
}

.midnight_content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
}
.midnight_content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.midnight_content span{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    
}

